<input type="hidden" #display>

<div class="card-container">
    <div 
        [ngClass]="'card ' + processProgress(progress(currentSales, targetSales)).color" 
        (click)="display.value = id"
        tabindex=level
    >
        <p>{{ name }}</p>
        <p>Total Sales- Rs {{ currentSales }}</p>
        <p>Target Sales- Rs {{ targetSales }}</p>
        <p>{{ processProgress(progress(currentSales, targetSales)).label }}</p>
        <progress value="{progress(currentSales,targetSales)}" max="1"></progress>

    </div>
</div>

<div [ngSwitch]="display.value">
    <div *ngSwitchCase="id">
        <div *ngFor="let child of children">
            <app-card
                [name]=child.name
                [id]=child.id
                [level]=child.level
                [currentSales]=child.currentSales
                [targetSales]=child.targetSales
                [children]=child.children
            ></app-card>            
        </div>
    </div> 
</div>